body {
    margin: 0;
    padding: 0;
    background: black;
}
button {
    background-color: gray;
}
a {
    text-transform: none;
    text-decoration: none;
    color: white;
}
.img {
    width: 200px;
}
// nav {
//     background: black;
//     color: white;
// }